*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE
.idea
*.iml
!lib/GiovynetDriver.jar
!lib/webcam-capture-0.3.10.jar
!lib/slf4j-api-1.7.21.jar
!lib/slf4j-simple-1.7.21.jar